.app{
    background-color: rgb(219, 214, 214);
    height: 47rem;
    width: 88rem;
}

@media screen and (max-width:740px) {
    .app{
     background-color: rgb(219, 214, 214);
     height: 75rem;
     width: 95rem;
     margin-top: -15rem;
    }
}